.pp-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    justify-self: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 50px;
}

.logo-img {
    width: 100%;
}

.lst-kix_hmm728eky8yo-2>li:before {
    content: "\0025a0  "
}

.lst-kix_owhu9ne376zx-0>li:before {
    content: "\0025cf  "
}

.lst-kix_hmm728eky8yo-3>li:before {
    content: "\0025cf  "
}

.lst-kix_hmm728eky8yo-5>li:before {
    content: "\0025a0  "
}

.lst-kix_hmm728eky8yo-4>li:before {
    content: "\0025cb  "
}

.lst-kix_hmm728eky8yo-8>li:before {
    content: "\0025a0  "
}

.lst-kix_hmm728eky8yo-7>li:before {
    content: "\0025cb  "
}

.lst-kix_owhu9ne376zx-2>li:before {
    content: "\0025a0  "
}

.lst-kix_owhu9ne376zx-4>li:before {
    content: "\0025cb  "
}

.lst-kix_hmm728eky8yo-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_9umuo8613isz-3 {
    list-style-type: none
}

ul.lst-kix_9umuo8613isz-2 {
    list-style-type: none
}

ul.lst-kix_9umuo8613isz-1 {
    list-style-type: none
}

.lst-kix_owhu9ne376zx-1>li:before {
    content: "\0025cb  "
}

.lst-kix_owhu9ne376zx-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_9umuo8613isz-0 {
    list-style-type: none
}

ul.lst-kix_9umuo8613isz-7 {
    list-style-type: none
}

ul.lst-kix_9umuo8613isz-6 {
    list-style-type: none
}

ul.lst-kix_9umuo8613isz-5 {
    list-style-type: none
}

ul.lst-kix_9umuo8613isz-4 {
    list-style-type: none
}

.lst-kix_owhu9ne376zx-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_9umuo8613isz-8 {
    list-style-type: none
}

.lst-kix_owhu9ne376zx-6>li:before {
    content: "\0025cf  "
}

.lst-kix_owhu9ne376zx-8>li:before {
    content: "\0025a0  "
}

.lst-kix_owhu9ne376zx-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_owhu9ne376zx-2 {
    list-style-type: none
}

ul.lst-kix_owhu9ne376zx-3 {
    list-style-type: none
}

ul.lst-kix_owhu9ne376zx-0 {
    list-style-type: none
}

ul.lst-kix_owhu9ne376zx-1 {
    list-style-type: none
}

ul.lst-kix_3j85zag2wpn6-1 {
    list-style-type: none
}

ul.lst-kix_3j85zag2wpn6-0 {
    list-style-type: none
}

ul.lst-kix_3j85zag2wpn6-3 {
    list-style-type: none
}

ul.lst-kix_3j85zag2wpn6-2 {
    list-style-type: none
}

ul.lst-kix_owhu9ne376zx-8 {
    list-style-type: none
}

ul.lst-kix_3j85zag2wpn6-5 {
    list-style-type: none
}

ul.lst-kix_3j85zag2wpn6-4 {
    list-style-type: none
}

ul.lst-kix_owhu9ne376zx-6 {
    list-style-type: none
}

ul.lst-kix_3j85zag2wpn6-7 {
    list-style-type: none
}

ul.lst-kix_owhu9ne376zx-7 {
    list-style-type: none
}

ul.lst-kix_3j85zag2wpn6-6 {
    list-style-type: none
}

ul.lst-kix_owhu9ne376zx-4 {
    list-style-type: none
}

ul.lst-kix_owhu9ne376zx-5 {
    list-style-type: none
}

ul.lst-kix_3j85zag2wpn6-8 {
    list-style-type: none
}

.lst-kix_9umuo8613isz-2>li:before {
    content: "\0025a0  "
}

.lst-kix_9umuo8613isz-4>li:before {
    content: "\0025cb  "
}

.lst-kix_9umuo8613isz-1>li:before {
    content: "\0025cb  "
}

.lst-kix_9umuo8613isz-5>li:before {
    content: "\0025a0  "
}

.lst-kix_9umuo8613isz-3>li:before {
    content: "\0025cf  "
}

.lst-kix_3j85zag2wpn6-8>li:before {
    content: "\0025a0  "
}

.lst-kix_3j85zag2wpn6-7>li:before {
    content: "\0025cb  "
}

.lst-kix_9umuo8613isz-0>li:before {
    content: "\0025cf  "
}

.lst-kix_3j85zag2wpn6-6>li:before {
    content: "\0025cf  "
}

.lst-kix_3j85zag2wpn6-3>li:before {
    content: "\0025cf  "
}

.lst-kix_3j85zag2wpn6-5>li:before {
    content: "\0025a0  "
}

.lst-kix_3j85zag2wpn6-0>li:before {
    content: "\0025cf  "
}

.lst-kix_3j85zag2wpn6-4>li:before {
    content: "\0025cb  "
}

.lst-kix_3j85zag2wpn6-1>li:before {
    content: "\0025cb  "
}

.lst-kix_3j85zag2wpn6-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_e0eqqeb0apap-0 {
    list-style-type: none
}

ul.lst-kix_e0eqqeb0apap-1 {
    list-style-type: none
}

ul.lst-kix_e0eqqeb0apap-4 {
    list-style-type: none
}

ul.lst-kix_e0eqqeb0apap-5 {
    list-style-type: none
}

ul.lst-kix_e0eqqeb0apap-2 {
    list-style-type: none
}

.lst-kix_9umuo8613isz-6>li:before {
    content: "\0025cf  "
}

.lst-kix_9umuo8613isz-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_e0eqqeb0apap-3 {
    list-style-type: none
}

ul.lst-kix_e0eqqeb0apap-8 {
    list-style-type: none
}

ul.lst-kix_e0eqqeb0apap-6 {
    list-style-type: none
}

.lst-kix_hmm728eky8yo-0>li:before {
    content: "\0025cf  "
}

.lst-kix_9umuo8613isz-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_e0eqqeb0apap-7 {
    list-style-type: none
}

.lst-kix_hw56tp3sh35f-7>li:before {
    content: "\0025cb  "
}

.lst-kix_hw56tp3sh35f-6>li:before {
    content: "\0025cf  "
}

.lst-kix_hw56tp3sh35f-8>li:before {
    content: "\0025a0  "
}

.lst-kix_hw56tp3sh35f-5>li:before {
    content: "\0025a0  "
}

.lst-kix_hw56tp3sh35f-3>li:before {
    content: "\0025cf  "
}

.lst-kix_e0eqqeb0apap-8>li:before {
    content: "\0025a0  "
}

.lst-kix_hw56tp3sh35f-2>li:before {
    content: "\0025a0  "
}

.lst-kix_hw56tp3sh35f-4>li:before {
    content: "\0025cb  "
}

.lst-kix_e0eqqeb0apap-7>li:before {
    content: "\0025cb  "
}

.lst-kix_hw56tp3sh35f-0>li:before {
    content: "\0025cf  "
}

.lst-kix_hw56tp3sh35f-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_hw56tp3sh35f-0 {
    list-style-type: none
}

ul.lst-kix_hw56tp3sh35f-8 {
    list-style-type: none
}

ul.lst-kix_hw56tp3sh35f-7 {
    list-style-type: none
}

ul.lst-kix_hw56tp3sh35f-6 {
    list-style-type: none
}

ul.lst-kix_hw56tp3sh35f-5 {
    list-style-type: none
}

ul.lst-kix_hw56tp3sh35f-4 {
    list-style-type: none
}

ul.lst-kix_hw56tp3sh35f-3 {
    list-style-type: none
}

ul.lst-kix_hw56tp3sh35f-2 {
    list-style-type: none
}

ul.lst-kix_hw56tp3sh35f-1 {
    list-style-type: none
}

ul.lst-kix_hmm728eky8yo-4 {
    list-style-type: none
}

ul.lst-kix_hmm728eky8yo-3 {
    list-style-type: none
}

ul.lst-kix_hmm728eky8yo-2 {
    list-style-type: none
}

ul.lst-kix_hmm728eky8yo-1 {
    list-style-type: none
}

ul.lst-kix_hmm728eky8yo-8 {
    list-style-type: none
}

ul.lst-kix_hmm728eky8yo-7 {
    list-style-type: none
}

ul.lst-kix_hmm728eky8yo-6 {
    list-style-type: none
}

ul.lst-kix_hmm728eky8yo-5 {
    list-style-type: none
}

.lst-kix_e0eqqeb0apap-0>li:before {
    content: "\0025cf  "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_e0eqqeb0apap-5>li:before {
    content: "\0025a0  "
}

.lst-kix_e0eqqeb0apap-4>li:before {
    content: "\0025cb  "
}

.lst-kix_e0eqqeb0apap-6>li:before {
    content: "\0025cf  "
}

.lst-kix_e0eqqeb0apap-1>li:before {
    content: "\0025cb  "
}

.lst-kix_e0eqqeb0apap-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_hmm728eky8yo-0 {
    list-style-type: none
}

.lst-kix_e0eqqeb0apap-3>li:before {
    content: "\0025cf  "
}

ol {
    margin: 0;
    padding: 0
}

table td,table th {
    padding: 0
}

.c2 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1428571428571428;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: center;
    padding-right: 0pt
}

.c4 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 0pt
}

.c5 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3125;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 0pt
}

.c12 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: center;
    padding-right: 0pt
}

.c22 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1578947368421053;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: center;
    padding-right: 0pt
}

.c1 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    border-top-style: solid;
    margin-left: 36pt;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 0pt
}

.c3 {
    color: #121214;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 21pt;
    font-style: normal
}

.c6 {
    color: #121214;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-style: normal
}

.c10 {
    color: #1155cc;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-style: normal
}

.c0 {
    color: #121214;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-style: normal
}

.c7 {
    font-size: 12pt;
    color: #0a2239;
    font-weight: 400
}

.c8 {
    font-size: 12pt;
    color: #0a2239;
    font-weight: 700
}

.c17 {
    color: #000000;
    font-weight: 400;
    font-size: 11pt;
}

.c19 {
    color: #121214;
    font-size: 28.5pt;
}

.c13 {
    background-color: #ffffff;
    max-width: 504pt;
    padding: 54pt 54pt 54pt 54pt;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.c16 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c9 {
    color: #121214;
    font-size: 12pt
}

.c18 {
    color: #1155cc;
    font-size: 12pt
}

.c21 {
    font-size: 21pt;
    color: #121214
}

.c20 {
    color: inherit;
    text-decoration: inherit
}

.c15 {
    padding: 0;
    margin: 0
}

.c14 {
    background-color: #ffffff
}

.c11 {
    font-weight: 700
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}