.tos-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo-tos {
    justify-self: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.logo-img-tos {
    width: 35%;
}

.lst-kix_e95x42hk99tc-3>li:before {
    content: "-  "
}

.lst-kix_e95x42hk99tc-5>li:before {
    content: "-  "
}

.lst-kix_olumrr1mh9rh-0>li:before {
    content: "\0025cf  "
}

.lst-kix_olumrr1mh9rh-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_ug6qbgn8l5bz-5 {
    list-style-type: none
}

ul.lst-kix_5sedgsuheuhy-6 {
    list-style-type: none
}

ul.lst-kix_3c0j9duls86d-2 {
    list-style-type: none
}

ul.lst-kix_ug6qbgn8l5bz-4 {
    list-style-type: none
}

ul.lst-kix_5sedgsuheuhy-7 {
    list-style-type: none
}

ul.lst-kix_3c0j9duls86d-3 {
    list-style-type: none
}

ul.lst-kix_ug6qbgn8l5bz-7 {
    list-style-type: none
}

.lst-kix_e95x42hk99tc-1>li:before {
    content: "-  "
}

ul.lst-kix_5sedgsuheuhy-4 {
    list-style-type: none
}

ul.lst-kix_3c0j9duls86d-4 {
    list-style-type: none
}

ul.lst-kix_ug6qbgn8l5bz-6 {
    list-style-type: none
}

ul.lst-kix_5sedgsuheuhy-5 {
    list-style-type: none
}

ul.lst-kix_3c0j9duls86d-5 {
    list-style-type: none
}

.lst-kix_e95x42hk99tc-2>li:before {
    content: "-  "
}

ul.lst-kix_3c0j9duls86d-6 {
    list-style-type: none
}

ul.lst-kix_ug6qbgn8l5bz-8 {
    list-style-type: none
}

ul.lst-kix_3c0j9duls86d-7 {
    list-style-type: none
}

ul.lst-kix_5sedgsuheuhy-8 {
    list-style-type: none
}

ul.lst-kix_3c0j9duls86d-8 {
    list-style-type: none
}

.lst-kix_olumrr1mh9rh-6>li:before {
    content: "\0025cf  "
}

.lst-kix_olumrr1mh9rh-4>li:before {
    content: "\0025cb  "
}

.lst-kix_l98glyuh53gl-8>li:before {
    content: "\0025a0  "
}

.lst-kix_olumrr1mh9rh-5>li:before {
    content: "\0025a0  "
}

.lst-kix_l98glyuh53gl-7>li:before {
    content: "\0025cb  "
}

.lst-kix_olumrr1mh9rh-2>li:before {
    content: "\0025a0  "
}

.lst-kix_e95x42hk99tc-0>li:before {
    content: "-  "
}

.lst-kix_olumrr1mh9rh-3>li:before {
    content: "\0025cf  "
}

.lst-kix_izamzw1z4rs8-5>li:before {
    content: "\0025a0  "
}

.lst-kix_izamzw1z4rs8-7>li:before {
    content: "\0025cb  "
}

.lst-kix_qj8kq0yme175-7>li:before {
    content: "-  "
}

.lst-kix_izamzw1z4rs8-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_n3thnhgwtcdb-6 {
    list-style-type: none
}

ul.lst-kix_n3thnhgwtcdb-5 {
    list-style-type: none
}

ul.lst-kix_n3thnhgwtcdb-8 {
    list-style-type: none
}

ul.lst-kix_ubx7hupbfvjm-8 {
    list-style-type: none
}

ul.lst-kix_n3thnhgwtcdb-7 {
    list-style-type: none
}

.lst-kix_qj8kq0yme175-8>li:before {
    content: "-  "
}

ul.lst-kix_ubx7hupbfvjm-7 {
    list-style-type: none
}

.lst-kix_izamzw1z4rs8-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_n3thnhgwtcdb-2 {
    list-style-type: none
}

ul.lst-kix_ubx7hupbfvjm-6 {
    list-style-type: none
}

ul.lst-kix_n3thnhgwtcdb-1 {
    list-style-type: none
}

ul.lst-kix_ubx7hupbfvjm-5 {
    list-style-type: none
}

ul.lst-kix_n3thnhgwtcdb-4 {
    list-style-type: none
}

.lst-kix_olumrr1mh9rh-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_ubx7hupbfvjm-4 {
    list-style-type: none
}

ul.lst-kix_n3thnhgwtcdb-3 {
    list-style-type: none
}

ul.lst-kix_ubx7hupbfvjm-3 {
    list-style-type: none
}

.lst-kix_izamzw1z4rs8-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_n3thnhgwtcdb-0 {
    list-style-type: none
}

ul.lst-kix_ug6qbgn8l5bz-1 {
    list-style-type: none
}

.lst-kix_olumrr1mh9rh-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_izamzw1z4rs8-0 {
    list-style-type: none
}

ul.lst-kix_5sedgsuheuhy-2 {
    list-style-type: none
}

ul.lst-kix_ug6qbgn8l5bz-0 {
    list-style-type: none
}

ul.lst-kix_5sedgsuheuhy-3 {
    list-style-type: none
}

ul.lst-kix_ug6qbgn8l5bz-3 {
    list-style-type: none
}

ul.lst-kix_izamzw1z4rs8-2 {
    list-style-type: none
}

ul.lst-kix_5sedgsuheuhy-0 {
    list-style-type: none
}

ul.lst-kix_3c0j9duls86d-0 {
    list-style-type: none
}

ul.lst-kix_ug6qbgn8l5bz-2 {
    list-style-type: none
}

ul.lst-kix_izamzw1z4rs8-1 {
    list-style-type: none
}

.lst-kix_izamzw1z4rs8-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_5sedgsuheuhy-1 {
    list-style-type: none
}

ul.lst-kix_3c0j9duls86d-1 {
    list-style-type: none
}

.lst-kix_e95x42hk99tc-8>li:before {
    content: "-  "
}

ul.lst-kix_izamzw1z4rs8-4 {
    list-style-type: none
}

ul.lst-kix_izamzw1z4rs8-3 {
    list-style-type: none
}

.lst-kix_e95x42hk99tc-7>li:before {
    content: "-  "
}

ul.lst-kix_izamzw1z4rs8-6 {
    list-style-type: none
}

.lst-kix_izamzw1z4rs8-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_izamzw1z4rs8-5 {
    list-style-type: none
}

.lst-kix_e95x42hk99tc-6>li:before {
    content: "-  "
}

ul.lst-kix_izamzw1z4rs8-8 {
    list-style-type: none
}

ul.lst-kix_izamzw1z4rs8-7 {
    list-style-type: none
}

.lst-kix_izamzw1z4rs8-0>li:before {
    content: "\0025cf  "
}

.lst-kix_blo9v193dh0r-2>li:before {
    content: "-  "
}

.lst-kix_blo9v193dh0r-3>li:before {
    content: "-  "
}

ul.lst-kix_qj8kq0yme175-8 {
    list-style-type: none
}

ul.lst-kix_e95x42hk99tc-1 {
    list-style-type: none
}

.lst-kix_blo9v193dh0r-4>li:before {
    content: "-  "
}

ul.lst-kix_e95x42hk99tc-0 {
    list-style-type: none
}

.lst-kix_n3thnhgwtcdb-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_e95x42hk99tc-5 {
    list-style-type: none
}

.lst-kix_blo9v193dh0r-6>li:before {
    content: "-  "
}

.lst-kix_blo9v193dh0r-7>li:before {
    content: "-  "
}

ul.lst-kix_e95x42hk99tc-4 {
    list-style-type: none
}

.lst-kix_n3thnhgwtcdb-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_e95x42hk99tc-3 {
    list-style-type: none
}

ul.lst-kix_e95x42hk99tc-2 {
    list-style-type: none
}

.lst-kix_n3thnhgwtcdb-2>li:before {
    content: "\0025a0  "
}

.lst-kix_blo9v193dh0r-5>li:before {
    content: "-  "
}

ul.lst-kix_e95x42hk99tc-8 {
    list-style-type: none
}

ul.lst-kix_e95x42hk99tc-7 {
    list-style-type: none
}

ul.lst-kix_e95x42hk99tc-6 {
    list-style-type: none
}

ul.lst-kix_ubx7hupbfvjm-2 {
    list-style-type: none
}

.lst-kix_ubx7hupbfvjm-6>li:before {
    content: "\0025cf  "
}

.lst-kix_n3thnhgwtcdb-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_ubx7hupbfvjm-1 {
    list-style-type: none
}

.lst-kix_n3thnhgwtcdb-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_ubx7hupbfvjm-0 {
    list-style-type: none
}

.lst-kix_ubx7hupbfvjm-5>li:before {
    content: "\0025a0  "
}

.lst-kix_ubx7hupbfvjm-7>li:before {
    content: "\0025cb  "
}

.lst-kix_blo9v193dh0r-8>li:before {
    content: "-  "
}

ul.lst-kix_qj8kq0yme175-4 {
    list-style-type: none
}

.lst-kix_n3thnhgwtcdb-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_qj8kq0yme175-5 {
    list-style-type: none
}

ul.lst-kix_qj8kq0yme175-6 {
    list-style-type: none
}

.lst-kix_qj8kq0yme175-6>li:before {
    content: "-  "
}

ul.lst-kix_qj8kq0yme175-7 {
    list-style-type: none
}

ul.lst-kix_qj8kq0yme175-0 {
    list-style-type: none
}

.lst-kix_ubx7hupbfvjm-8>li:before {
    content: "\0025a0  "
}

.lst-kix_n3thnhgwtcdb-5>li:before {
    content: "\0025a0  "
}

.lst-kix_n3thnhgwtcdb-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_qj8kq0yme175-1 {
    list-style-type: none
}

ul.lst-kix_qj8kq0yme175-2 {
    list-style-type: none
}

ul.lst-kix_qj8kq0yme175-3 {
    list-style-type: none
}

.lst-kix_qj8kq0yme175-5>li:before {
    content: "-  "
}

.lst-kix_l98glyuh53gl-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_t8bn1yvlfb1-0 {
    list-style-type: none
}

.lst-kix_qj8kq0yme175-2>li:before {
    content: "-  "
}

.lst-kix_qj8kq0yme175-4>li:before {
    content: "-  "
}

ul.lst-kix_t8bn1yvlfb1-1 {
    list-style-type: none
}

.lst-kix_l98glyuh53gl-0>li:before {
    content: "\0025cf  "
}

.lst-kix_l98glyuh53gl-4>li:before {
    content: "\0025cb  "
}

.lst-kix_l98glyuh53gl-3>li:before {
    content: "\0025cf  "
}

.lst-kix_qj8kq0yme175-3>li:before {
    content: "-  "
}

.lst-kix_l98glyuh53gl-6>li:before {
    content: "\0025cf  "
}

.lst-kix_n3thnhgwtcdb-8>li:before {
    content: "\0025a0  "
}

.lst-kix_qj8kq0yme175-0>li:before {
    content: "-  "
}

.lst-kix_l98glyuh53gl-5>li:before {
    content: "\0025a0  "
}

.lst-kix_qj8kq0yme175-1>li:before {
    content: "-  "
}

ul.lst-kix_t8bn1yvlfb1-6 {
    list-style-type: none
}

ul.lst-kix_t8bn1yvlfb1-7 {
    list-style-type: none
}

ul.lst-kix_t8bn1yvlfb1-8 {
    list-style-type: none
}

ul.lst-kix_t8bn1yvlfb1-2 {
    list-style-type: none
}

ul.lst-kix_t8bn1yvlfb1-3 {
    list-style-type: none
}

.lst-kix_l98glyuh53gl-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_t8bn1yvlfb1-4 {
    list-style-type: none
}

ul.lst-kix_t8bn1yvlfb1-5 {
    list-style-type: none
}

.lst-kix_emnh0v2zwgsv-0>li:before {
    content: "\0025cf  "
}

.lst-kix_emnh0v2zwgsv-4>li:before {
    content: "\0025cb  "
}

.lst-kix_emnh0v2zwgsv-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_js4e7atfdchi-2 {
    list-style-type: none
}

ul.lst-kix_js4e7atfdchi-1 {
    list-style-type: none
}

ul.lst-kix_js4e7atfdchi-0 {
    list-style-type: none
}

ul.lst-kix_js4e7atfdchi-6 {
    list-style-type: none
}

ul.lst-kix_js4e7atfdchi-5 {
    list-style-type: none
}

ul.lst-kix_js4e7atfdchi-4 {
    list-style-type: none
}

ul.lst-kix_js4e7atfdchi-3 {
    list-style-type: none
}

ul.lst-kix_js4e7atfdchi-8 {
    list-style-type: none
}

ul.lst-kix_js4e7atfdchi-7 {
    list-style-type: none
}

ul.lst-kix_blo9v193dh0r-0 {
    list-style-type: none
}

ul.lst-kix_blo9v193dh0r-1 {
    list-style-type: none
}

.lst-kix_5sedgsuheuhy-1>li:before {
    content: "\0025cb  "
}

.lst-kix_5sedgsuheuhy-5>li:before {
    content: "\0025a0  "
}

.lst-kix_ubx7hupbfvjm-2>li:before {
    content: "\0025a0  "
}

.lst-kix_t8bn1yvlfb1-7>li:before {
    content: "-  "
}

.lst-kix_ubx7hupbfvjm-4>li:before {
    content: "\0025cb  "
}

.lst-kix_5sedgsuheuhy-7>li:before {
    content: "\0025cb  "
}

.lst-kix_emnh0v2zwgsv-8>li:before {
    content: "\0025a0  "
}

.lst-kix_t8bn1yvlfb1-1>li:before {
    content: "-  "
}

.lst-kix_t8bn1yvlfb1-3>li:before {
    content: "-  "
}

ul.lst-kix_blo9v193dh0r-4 {
    list-style-type: none
}

ul.lst-kix_blo9v193dh0r-5 {
    list-style-type: none
}

ul.lst-kix_blo9v193dh0r-2 {
    list-style-type: none
}

.lst-kix_t8bn1yvlfb1-5>li:before {
    content: "-  "
}

ul.lst-kix_blo9v193dh0r-3 {
    list-style-type: none
}

ul.lst-kix_blo9v193dh0r-8 {
    list-style-type: none
}

.lst-kix_ubx7hupbfvjm-0>li:before {
    content: "\0025cf  "
}

.lst-kix_blo9v193dh0r-1>li:before {
    content: "-  "
}

.lst-kix_emnh0v2zwgsv-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_blo9v193dh0r-6 {
    list-style-type: none
}

ul.lst-kix_blo9v193dh0r-7 {
    list-style-type: none
}

.lst-kix_5sedgsuheuhy-3>li:before {
    content: "\0025cf  "
}

.lst-kix_9oqe8ib7yu99-7>li:before {
    content: "-  "
}

.lst-kix_ug6qbgn8l5bz-5>li:before {
    content: "\0025a0  "
}

.lst-kix_ug6qbgn8l5bz-7>li:before {
    content: "\0025cb  "
}

.lst-kix_js4e7atfdchi-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_7ox2r2bl5bqh-0 {
    list-style-type: none
}

.lst-kix_9oqe8ib7yu99-3>li:before {
    content: "-  "
}

.lst-kix_ug6qbgn8l5bz-1>li:before {
    content: "\0025cb  "
}

.lst-kix_lgfvwk80d39k-7>li:before {
    content: "\0025cb  "
}

.lst-kix_js4e7atfdchi-1>li:before {
    content: "\0025cb  "
}

.lst-kix_prhcfjdilzt7-0>li:before {
    content: "\0025cf  "
}

.lst-kix_9oqe8ib7yu99-1>li:before {
    content: "-  "
}

ul.lst-kix_olumrr1mh9rh-0 {
    list-style-type: none
}

.lst-kix_js4e7atfdchi-7>li:before {
    content: "\0025cb  "
}

.lst-kix_prhcfjdilzt7-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_olumrr1mh9rh-2 {
    list-style-type: none
}

ul.lst-kix_olumrr1mh9rh-1 {
    list-style-type: none
}

ul.lst-kix_olumrr1mh9rh-4 {
    list-style-type: none
}

.lst-kix_ug6qbgn8l5bz-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_olumrr1mh9rh-3 {
    list-style-type: none
}

ul.lst-kix_olumrr1mh9rh-6 {
    list-style-type: none
}

ul.lst-kix_olumrr1mh9rh-5 {
    list-style-type: none
}

ul.lst-kix_olumrr1mh9rh-8 {
    list-style-type: none
}

.lst-kix_js4e7atfdchi-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_olumrr1mh9rh-7 {
    list-style-type: none
}

.lst-kix_izamzw1z4rs8-8>li:before {
    content: "\0025a0  "
}

.lst-kix_lgfvwk80d39k-1>li:before {
    content: "\0025cb  "
}

.lst-kix_prhcfjdilzt7-6>li:before {
    content: "\0025cf  "
}

.lst-kix_prhcfjdilzt7-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_7ox2r2bl5bqh-8 {
    list-style-type: none
}

ul.lst-kix_7ox2r2bl5bqh-7 {
    list-style-type: none
}

ul.lst-kix_7ox2r2bl5bqh-6 {
    list-style-type: none
}

ul.lst-kix_7ox2r2bl5bqh-5 {
    list-style-type: none
}

ul.lst-kix_7ox2r2bl5bqh-4 {
    list-style-type: none
}

ul.lst-kix_7ox2r2bl5bqh-3 {
    list-style-type: none
}

.lst-kix_lgfvwk80d39k-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_7ox2r2bl5bqh-2 {
    list-style-type: none
}

ul.lst-kix_7ox2r2bl5bqh-1 {
    list-style-type: none
}

.lst-kix_9oqe8ib7yu99-5>li:before {
    content: "-  "
}

.lst-kix_lgfvwk80d39k-3>li:before {
    content: "\0025cf  "
}

.lst-kix_prhcfjdilzt7-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_prhcfjdilzt7-0 {
    list-style-type: none
}

ul.lst-kix_prhcfjdilzt7-1 {
    list-style-type: none
}

ul.lst-kix_prhcfjdilzt7-4 {
    list-style-type: none
}

ul.lst-kix_prhcfjdilzt7-5 {
    list-style-type: none
}

ul.lst-kix_prhcfjdilzt7-2 {
    list-style-type: none
}

ul.lst-kix_prhcfjdilzt7-3 {
    list-style-type: none
}

ul.lst-kix_prhcfjdilzt7-8 {
    list-style-type: none
}

ul.lst-kix_prhcfjdilzt7-6 {
    list-style-type: none
}

ul.lst-kix_prhcfjdilzt7-7 {
    list-style-type: none
}

ul.lst-kix_l98glyuh53gl-5 {
    list-style-type: none
}

ul.lst-kix_l98glyuh53gl-4 {
    list-style-type: none
}

ul.lst-kix_l98glyuh53gl-3 {
    list-style-type: none
}

ul.lst-kix_l98glyuh53gl-2 {
    list-style-type: none
}

ul.lst-kix_l98glyuh53gl-8 {
    list-style-type: none
}

ul.lst-kix_l98glyuh53gl-7 {
    list-style-type: none
}

.lst-kix_hic3sutwtzvk-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_l98glyuh53gl-6 {
    list-style-type: none
}

.lst-kix_hic3sutwtzvk-1>li:before {
    content: "\0025cb  "
}

.lst-kix_hic3sutwtzvk-3>li:before {
    content: "\0025cf  "
}

.lst-kix_hic3sutwtzvk-2>li:before {
    content: "\0025a0  "
}

.lst-kix_nb25nwwtrbpl-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_9oqe8ib7yu99-0 {
    list-style-type: none
}

.lst-kix_hic3sutwtzvk-5>li:before {
    content: "\0025a0  "
}

.lst-kix_hic3sutwtzvk-7>li:before {
    content: "\0025cb  "
}

.lst-kix_nb25nwwtrbpl-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_9oqe8ib7yu99-1 {
    list-style-type: none
}

ul.lst-kix_9oqe8ib7yu99-2 {
    list-style-type: none
}

ul.lst-kix_9oqe8ib7yu99-3 {
    list-style-type: none
}

ul.lst-kix_9oqe8ib7yu99-4 {
    list-style-type: none
}

.lst-kix_hic3sutwtzvk-4>li:before {
    content: "\0025cb  "
}

.lst-kix_hic3sutwtzvk-8>li:before {
    content: "\0025a0  "
}

.lst-kix_nb25nwwtrbpl-4>li:before {
    content: "\0025cb  "
}

.lst-kix_nb25nwwtrbpl-1>li:before {
    content: "\0025cb  "
}

.lst-kix_nb25nwwtrbpl-3>li:before {
    content: "\0025cf  "
}

.lst-kix_hic3sutwtzvk-6>li:before {
    content: "\0025cf  "
}

.lst-kix_nb25nwwtrbpl-2>li:before {
    content: "\0025a0  "
}

.lst-kix_nb25nwwtrbpl-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_9oqe8ib7yu99-5 {
    list-style-type: none
}

ul.lst-kix_9oqe8ib7yu99-6 {
    list-style-type: none
}

ul.lst-kix_9oqe8ib7yu99-7 {
    list-style-type: none
}

ul.lst-kix_9oqe8ib7yu99-8 {
    list-style-type: none
}

ul.lst-kix_nb25nwwtrbpl-8 {
    list-style-type: none
}

ul.lst-kix_nb25nwwtrbpl-7 {
    list-style-type: none
}

.lst-kix_3c0j9duls86d-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_nb25nwwtrbpl-6 {
    list-style-type: none
}

ul.lst-kix_nb25nwwtrbpl-5 {
    list-style-type: none
}

.lst-kix_3c0j9duls86d-4>li:before {
    content: "\0025cb  "
}

.lst-kix_3c0j9duls86d-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_nb25nwwtrbpl-4 {
    list-style-type: none
}

.lst-kix_7ox2r2bl5bqh-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_nb25nwwtrbpl-3 {
    list-style-type: none
}

ul.lst-kix_nb25nwwtrbpl-2 {
    list-style-type: none
}

.lst-kix_7ox2r2bl5bqh-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_nb25nwwtrbpl-1 {
    list-style-type: none
}

ul.lst-kix_nb25nwwtrbpl-0 {
    list-style-type: none
}

.lst-kix_3c0j9duls86d-8>li:before {
    content: "\0025a0  "
}

.lst-kix_3c0j9duls86d-7>li:before {
    content: "\0025cb  "
}

.lst-kix_7ox2r2bl5bqh-8>li:before {
    content: "\0025a0  "
}

.lst-kix_7ox2r2bl5bqh-1>li:before {
    content: "\0025cb  "
}

.lst-kix_nb25nwwtrbpl-7>li:before {
    content: "\0025cb  "
}

.lst-kix_7ox2r2bl5bqh-3>li:before {
    content: "\0025cf  "
}

.lst-kix_7ox2r2bl5bqh-2>li:before {
    content: "\0025a0  "
}

.lst-kix_nb25nwwtrbpl-8>li:before {
    content: "\0025a0  "
}

.lst-kix_7ox2r2bl5bqh-5>li:before {
    content: "\0025a0  "
}

.lst-kix_3c0j9duls86d-1>li:before {
    content: "\0025cb  "
}

.lst-kix_3c0j9duls86d-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_l98glyuh53gl-1 {
    list-style-type: none
}

.lst-kix_3c0j9duls86d-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_l98glyuh53gl-0 {
    list-style-type: none
}

.lst-kix_7ox2r2bl5bqh-4>li:before {
    content: "\0025cb  "
}

.lst-kix_3c0j9duls86d-0>li:before {
    content: "\0025cf  "
}

.lst-kix_7ox2r2bl5bqh-0>li:before {
    content: "\0025cf  "
}

.lst-kix_emnh0v2zwgsv-1>li:before {
    content: "\0025cb  "
}

.lst-kix_emnh0v2zwgsv-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_lgfvwk80d39k-0 {
    list-style-type: none
}

.lst-kix_5sedgsuheuhy-2>li:before {
    content: "\0025a0  "
}

.lst-kix_5sedgsuheuhy-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_lgfvwk80d39k-6 {
    list-style-type: none
}

ul.lst-kix_lgfvwk80d39k-5 {
    list-style-type: none
}

ul.lst-kix_lgfvwk80d39k-8 {
    list-style-type: none
}

.lst-kix_ubx7hupbfvjm-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_lgfvwk80d39k-7 {
    list-style-type: none
}

.lst-kix_5sedgsuheuhy-0>li:before {
    content: "\0025cf  "
}

.lst-kix_5sedgsuheuhy-6>li:before {
    content: "\0025cf  "
}

.lst-kix_5sedgsuheuhy-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_lgfvwk80d39k-2 {
    list-style-type: none
}

.lst-kix_t8bn1yvlfb1-8>li:before {
    content: "-  "
}

ul.lst-kix_lgfvwk80d39k-1 {
    list-style-type: none
}

ul.lst-kix_lgfvwk80d39k-4 {
    list-style-type: none
}

ul.lst-kix_lgfvwk80d39k-3 {
    list-style-type: none
}

.lst-kix_t8bn1yvlfb1-2>li:before {
    content: "-  "
}

.lst-kix_t8bn1yvlfb1-6>li:before {
    content: "-  "
}

.lst-kix_emnh0v2zwgsv-5>li:before {
    content: "\0025a0  "
}

.lst-kix_ubx7hupbfvjm-1>li:before {
    content: "\0025cb  "
}

.lst-kix_t8bn1yvlfb1-4>li:before {
    content: "-  "
}

.lst-kix_emnh0v2zwgsv-7>li:before {
    content: "\0025cb  "
}

.lst-kix_9oqe8ib7yu99-8>li:before {
    content: "-  "
}

.lst-kix_js4e7atfdchi-0>li:before {
    content: "\0025cf  "
}

.lst-kix_js4e7atfdchi-2>li:before {
    content: "\0025a0  "
}

.lst-kix_blo9v193dh0r-0>li:before {
    content: "-  "
}

.lst-kix_ug6qbgn8l5bz-2>li:before {
    content: "\0025a0  "
}

.lst-kix_ug6qbgn8l5bz-6>li:before {
    content: "\0025cf  "
}

.lst-kix_ug6qbgn8l5bz-0>li:before {
    content: "\0025cf  "
}

.lst-kix_9oqe8ib7yu99-2>li:before {
    content: "-  "
}

.lst-kix_t8bn1yvlfb1-0>li:before {
    content: "-  "
}

.lst-kix_ug6qbgn8l5bz-8>li:before {
    content: "\0025a0  "
}

.lst-kix_prhcfjdilzt7-1>li:before {
    content: "\0025cb  "
}

.lst-kix_js4e7atfdchi-8>li:before {
    content: "\0025a0  "
}

.lst-kix_lgfvwk80d39k-8>li:before {
    content: "\0025a0  "
}

.lst-kix_9oqe8ib7yu99-0>li:before {
    content: "-  "
}

.lst-kix_js4e7atfdchi-4>li:before {
    content: "\0025cb  "
}

.lst-kix_js4e7atfdchi-6>li:before {
    content: "\0025cf  "
}

.lst-kix_ug6qbgn8l5bz-4>li:before {
    content: "\0025cb  "
}

.lst-kix_prhcfjdilzt7-7>li:before {
    content: "\0025cb  "
}

.lst-kix_lgfvwk80d39k-0>li:before {
    content: "\0025cf  "
}

.lst-kix_prhcfjdilzt7-3>li:before {
    content: "\0025cf  "
}

.lst-kix_prhcfjdilzt7-5>li:before {
    content: "\0025a0  "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_lgfvwk80d39k-6>li:before {
    content: "\0025cf  "
}

.lst-kix_lgfvwk80d39k-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_emnh0v2zwgsv-7 {
    list-style-type: none
}

ul.lst-kix_hic3sutwtzvk-8 {
    list-style-type: none
}

ul.lst-kix_emnh0v2zwgsv-6 {
    list-style-type: none
}

ul.lst-kix_emnh0v2zwgsv-8 {
    list-style-type: none
}

.lst-kix_9oqe8ib7yu99-4>li:before {
    content: "-  "
}

.lst-kix_lgfvwk80d39k-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_hic3sutwtzvk-5 {
    list-style-type: none
}

ul.lst-kix_emnh0v2zwgsv-3 {
    list-style-type: none
}

ul.lst-kix_hic3sutwtzvk-4 {
    list-style-type: none
}

ul.lst-kix_emnh0v2zwgsv-2 {
    list-style-type: none
}

ul.lst-kix_hic3sutwtzvk-7 {
    list-style-type: none
}

ul.lst-kix_emnh0v2zwgsv-5 {
    list-style-type: none
}

ul.lst-kix_hic3sutwtzvk-6 {
    list-style-type: none
}

ul.lst-kix_emnh0v2zwgsv-4 {
    list-style-type: none
}

.lst-kix_9oqe8ib7yu99-6>li:before {
    content: "-  "
}

ul.lst-kix_hic3sutwtzvk-1 {
    list-style-type: none
}

ul.lst-kix_hic3sutwtzvk-0 {
    list-style-type: none
}

ul.lst-kix_hic3sutwtzvk-3 {
    list-style-type: none
}

ul.lst-kix_emnh0v2zwgsv-1 {
    list-style-type: none
}

ul.lst-kix_hic3sutwtzvk-2 {
    list-style-type: none
}

ul.lst-kix_emnh0v2zwgsv-0 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,table th {
    padding: 0
}

.c1 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffffff;
    margin-left: 36pt;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 0pt
}

.c3 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    page-break-after: avoid;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 0pt
}

.c9 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 0pt
}

.c17 {
    border-right-style: solid;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    border-top-style: solid;
    margin-left: 36pt;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    padding-right: 0pt
}

.c10 {
    margin-left: 36pt;
    padding-top: 12pt;
    padding-left: 0pt;
    padding-bottom: 12pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c8 {
    margin-left: 72pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c28 {
    padding-top: 0pt;
    padding-bottom: 3pt;
    line-height: 1.5;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c14 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c13 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.5;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c11 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 20pt;
    font-style: normal
}

.c27 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 26pt;
    font-style: normal
}

.c2 {
    color: #121214;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c4 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c31 {
    padding-top: 0pt;
    padding-bottom: 9pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c19 {
    color: #0a2239;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c21 {
    color: #1155cc;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c16 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c26 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c7 {
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 21pt;
    font-style: normal
}

.c29 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c32 {
    color: #0a2239;
    font-weight: 400
}

.c23 {
    background-color: #ffffff;
    max-width: 504pt;
    padding: 54pt 54pt 54pt 54pt;
}

.c22 {
    padding: 0;
    margin: 0
}

.c30 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c12 {
    font-size: 16pt
}

.c25 {
    font-size: 11pt
}

.c6 {
    color: #121214
}

.c15 {
    font-weight: 700
}

.c24 {
    background-color: #b6d7a8
}

.c18 {
    margin-left: 72pt
}

.c34 {
    background-color: #fff2cc
}

.c33 {
    color: #000000
}

.c0 {
    font-size: 12pt
}

.c20 {
    font-size: 21pt
}

.c5 {
    background-color: #ffe599
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    border-right-style: solid;
    color: #121214;
    border-top-width: 0pt;
    padding-left: 0pt;
    font-size: 16pt;
    background-color: #ffffff;
    border-left-style: solid;
    orphans: 2;
    text-align: left;
    padding-top: 0pt;
    border-right-width: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3125;
    page-break-after: avoid;
    border-left-width: 0pt;
    border-top-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    widows: 2;
    padding-right: 0pt
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}