* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .bg-shape {
    background: url('images/grey_shape.svg') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
  }

  .bg-shape2 {
    background: url('images/grey_shape2.svg') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
  }

  .header-shape {
    background: url('images/header_shape.svg') no-repeat top center ;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 100%;
  }

  .bg-gradient {
    background: linear-gradient(104.2deg, #54AEF0 -26.26%, #60E783 123.52%);
    width: 100%;
    height: 100%
  }